*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    padding-top: 5%;
    font-size: 300%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: center;
    font-size: 158%;
}
#par{
    display: flex;
    flex-wrap:wrap;
}
.parent{
    flex-shrink: 0;
    margin-top: 5%;
    margin-left: 10%;
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(173, 172, 172);
    box-shadow: 5px 10px 10px #888888;
}
#bt{
    text-align: center;
    margin-top: 5%;
    font-size: medium;
    color: rgb(139, 139, 139);
}
#child1{
    width: 70%;
    height: 50%;
    background-color: wheat;
    box-sizing: border-box;
    margin: 50px;
    background-image: url(https://images.unsplash.com/photo-1617043786394-f977fa12eddf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center -20px;
}
#child2{
    width: 70%;
    height: 50%;
    background-color: wheat;
    box-sizing: border-box;
    margin: 50px;
    background-image: url(https://images.unsplash.com/photo-1557173135-7336e73d53d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8aGVhZCUyMHBob25lfGVufDB8fDB8fHww);
    background-size: cover;
}
.tt{
    font-size: larger;
}
.txt{
    font-size:large;
}
#child3{
    width: 70%;
    height: 50%;
    background-color: wheat;
    box-sizing: border-box;
    margin: 50px;
    background-image: url(https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fFN1biUyMGdsYXNzfGVufDB8fDB8fHww1);
    background-size: cover;
    background-position: center -0.5px;
}
#child4{
    width: 70%;
    height: 50%;
    background-color: wheat;
    box-sizing: border-box;
    margin: 50px;
    background-image: url(https://images.unsplash.com/photo-1594232352231-11a0958d131c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8R3VufGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center -1px;
}
#child5{
    width: 70%;
    height: 50%;
    background-color: wheat;
    box-sizing: border-box;
    margin: 50px;
    background-image: url(https://images.unsplash.com/photo-1630719003242-cc15a7244d16?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8VGFua3xlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center 10%;
}
#child6{
    width: 70%;
    height: 50%;
    background-color: wheat;
    box-sizing: border-box;
    margin: 50px;
    background-image: url(https://images.unsplash.com/photo-1590509278793-032529995158?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YXVkaSUyMHE3fGVufDB8fDB8fHww);
    background-size: cover;
    background-position: 10% 10%;
}
#child7{
    width: 70%;
    height: 50%;
    background-color: wheat;
    box-sizing: border-box;
    margin: 50px;
    background-image: url(https://images.unsplash.com/photo-1617361229436-9f156c1a3df7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fEZpZ2h0ZXIlMjBqZXR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: 10% 10%;
}
#child8{
    width: 70%;
    height: 50%;
    background-color: wheat;
    box-sizing: border-box;
    margin: 50px;
    background-image: url(https://images.unsplash.com/photo-1620547316190-289b3899e010?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8UmFuZ2UlMjBSb3ZlcnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center 10%;
}
button{
    width: 50%;
    height: 5%;
    margin-left: 25%;
    border-radius: 10px;
}
button:hover{
    background-color: bisque;
}
.b{
    margin-top: 1%;
}
.parent:hover{
    width: 330px;
    height: 470px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}